<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Edit person</title>
</head>
<body>
	<h1>Edit person</h1>
	
	<form action="#" th:action="@{/edit-__${person.id}__}" method="post" accept-charset="utf-8">
		
		<ul>
  		<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
		</ul>
		
		<label for="firstName">First name: </label>
		<input id="firstName" name="firstName" type="text" th:value="*{person.firstName}" /><br />
		
		<label for="lastName">Last name: </label>
		<input id="lastName" name="lastName" type="text" th:value="*{person.lastName}" /><br /> 
		
		<label for="email">Email: </label>
		<input id="email" name="email" type="text" th:value="*{person.email}" /><br /> 
		
		<label for="phone">Phone: </label>
		<input id="phone" name="phone" type="text" th:value="*{person.phone}" /><br /> 
		
		<label for="birthDate">Birth date: </label>
		<input id="birthDate" name="birthDate" type="date" th:value="*{person.birthDate}" /><br /> 
		
		<label for="street">Street: </label>
		<input id="street" name="street" type="text" th:value="*{address.street}" /><br />
		
		<label for="houseNo">House no: </label>
		<input id="houseNo" name="houseNo" type="text" th:value="*{address.houseNo}" /><br />
		
		<label for="city">City: </label>
		<input id="city" name="city" type="text" th:value="*{address.city}" /><br />
		
		<label for="zipCode">Zip code: </label>
		<input id="zipCode" name="zipCode" type="text" th:value="*{address.zipCode}" /><br />
		
		<input type="reset" value="Reset" />
		<input type="submit" value="Submit" />
		<br/>
		<br/>
		Go to <a href="personslist.html" th:href="@{/list}">Persons list</a>
	</form>
	
</body>
</html>