<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<title>Edit person</title>
</head>
<body>
<div class="container">
	<h1>Edit person</h1>
	
	<form action="#" th:action="@{/edit-__${person.id}__}" method="post" accept-charset="utf-8">
		
		<ul>
  		<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
		</ul>
		
		<div class="form-group row">
		<label for="firstName" class="col-2 col-form-label">First name: </label>
		<div class="col-10">
		<input id="firstName" class="form-control" name="firstName" type="text" th:value="*{person.firstName}" />
		</div>
		</div>
		
		<div class="form-group row">
		<label for="lastName" class="col-2 col-form-label">Last name: </label>
		<div class="col-10">
		<input id="lastName" class="form-control" name="lastName" type="text" th:value="*{person.lastName}" />
		</div>
		</div>
		
		<div class="form-group row">
		<label for="email" class="col-2 col-form-label">Email: </label>
		<div class="col-10">
		<input id="email" class="form-control" name="email" type="text" th:value="*{person.email}" />
		</div>
		</div>
		
		<div class="form-group row">
		<label for="phone" class="col-2 col-form-label">Phone: </label>
		<div class="col-10">
		<input id="phone" class="form-control" name="phone" type="text" th:value="*{person.phone}" />
		</div>
		</div>
		
		<div class="form-group row">
		<label for="birthDate" class="col-2 col-form-label">Birth date: </label>
		<div class="col-10">
		<input id="birthDate" class="form-control" name="birthDate" type="date" th:value="*{person.birthDate}" />
		</div>
		</div>
		
		<div class="form-group row">
		<label for="street" class="col-2 col-form-label">Street: </label>
		<div class="col-10">
		<input id="street" class="form-control" name="street" type="text" th:value="*{address.street}" />
		</div>
		</div>
		
		<div class="form-group row">
		<label for="houseNo" class="col-2 col-form-label">House no: </label>
		<div class="col-10">
		<input id="houseNo" class="form-control" name="houseNo" type="text" th:value="*{address.houseNo}" />
		</div>
		</div>
		
		<div class="form-group row">
		<label for="city" class="col-2 col-form-label">City: </label>
		<div class="col-10">
		<input id="city" class="form-control" name="city" type="text" th:value="*{address.city}" />
		</div>
		</div>
		
		<div class="form-group row">
		<label for="zipCode" class="col-2 col-form-label">Zip code: </label>
		<div class="col-10">
		<input id="zipCode" class="form-control" name="zipCode" type="text" th:value="*{address.zipCode}" />
		</div>
		</div>
		
		<div class="form-group row">
		<label for="groups" class="col-2 col-form-label">Groups: </label>
		<div class="col-10">
		<select th:field="*{groups}" multiple="multiple">
		<option class="form-control" id="groups" th:each="group: ${groups}" th:value="${group.id}" th:text="${group.name}" />
		</select>
		</div>
		</div>
		
		<a href="personslist.html" th:href="@{/list}" class="btn btn-outline-info" role="button">Cancel</a>
		<input type="submit" value="Submit" class="btn btn-outline-info" />
		
	</form>
</div>
</body>
</html>